<!doctype html>
<html ng-app="tinyHouseApp">
  <head>
    <meta charset="UTF-8">
    <title>Tiny house</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-sanitize.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-controller="TinyHouseController">
    <svg viewBox="-{{m.padding}} -{{m.padding}} {{m.length+2*m.padding}} {{m.width+2*m.padding}}" width="1200" height="700">
      <text x="200" y="{{m.padding/2}}">
        45mm x 95mm spærtræ
      </text>
      <rect x="0" y="{{m.padding/2-70}}" width="{{2*m.treeThick}}" height="{{2*m.treeThick}}" class="wood-95" />

      <text x="200" y="{{m.padding/2+200}}">
        45mm x 120mm spærtræ
      </text>
      <rect x="0" y="{{m.padding/2+200-70}}" width="{{2*m.treeThick}}" height="{{2*m.treeThick}}" class="wood-120" />

      <text x="200" y="{{m.padding/2+400}}">
        45mm x 195mm spærtræ
      </text>
      <rect x="0" y="{{m.padding/2+400-70}}" width="{{2*m.treeThick}}" height="{{2*m.treeThick}}" class="wood-195" />

      <text x="200" y="{{m.padding/2+600}}">
        45mm x 295mm spærtræ
      </text>
      <rect x="0" y="{{m.padding/2+600-70}}" width="{{2*m.treeThick}}" height="{{2*m.treeThick}}" class="wood-295" />

      <text x="200" y="{{m.padding/2+800}}">
        25mm x 50mm afstandsliste
      </text>
      <rect x="0" y="{{m.padding/2+800-70}}" width="{{2*m.treeThick}}" height="{{2*m.treeThick}}" class="wood-25" />

      <text x="200" y="{{m.padding/2+1000}}">
        {{m.osb}}mm OSB-plade
      </text>
      <rect x="0" y="{{m.padding/2+1000-70}}" width="{{2*m.treeThick}}" height="{{2*m.treeThick}}" class="osb" />

      <text x="200" y="{{m.padding/2+1200}}">
        {{m.kf}}mm krydsfinerplade
      </text>
      <rect x="0" y="{{m.padding/2+1200-70}}" width="{{2*m.treeThick}}" height="{{2*m.treeThick}}" class="kf" />
    </svg>

    <svg viewBox="-{{m.padding}} -{{m.padding}} {{m.length+2*m.padding}} {{m.width+2*m.padding}}" width="1200" height="700">
      <text x="{{m.padding/2}}" y="{{-m.padding/2}}">
        Profil
      </text>

      <polygon points="0,0 {{m.width}},75 {{m.width}},195 0,195" class="wood-195">
        <title>{{m.width}}mm bred, fald fra 195mm til 120mm (0,0)</title>
      </polygon>

      <polygon points="-100,-24 {{m.width+100}},51 {{m.width+100}},76 -100,-1" class="wood-25">
        <title>{{m.width+2*100}}mm</title>
      </polygon>
 
      <rect ng-repeat="t in m.profile"
            width="{{t.width}}" height="{{t.height}}"
            x="{{t.x}}" y="{{t.y}}" class="{{t.class}}" title="{{m.length}}">
        <title>{{t.width}}mm x {{t.height}}mm ({{t.x}},{{t.y}})</title>
      </rect>
    </svg>

    <svg viewBox="-{{m.padding}} -{{m.padding}} {{m.length+2*m.padding}} {{m.width+2*m.padding}}" width="1200" height="700">
      <text x="{{m.padding/2}}" y="{{-m.padding/2}}">
        Gulv
      </text>
 
      <rect ng-repeat="t in m.floor"
            width="{{t.width}}" height="{{t.height}}"
            x="{{t.x}}" y="{{t.y}}" class="{{t.class}}" title="{{m.length}}">
        <title>{{max(t.width, t.height)}} mm ({{t.x}},{{t.y}})</title>
      </rect>
    </svg>

    <svg viewBox="-{{m.padding}} -{{m.padding}} {{m.length+2*m.padding}} {{m.width+2*m.padding}}" width="1200" height="700">
      <text x="{{m.padding/2}}" y="{{-m.padding/2}}">
        Tag
      </text>

      <rect ng-repeat="t in m.roof"
            width="{{t.width}}" height="{{t.height}}"
            x="{{t.x}}" y="{{t.y}}" class="{{t.class}}" title="{{m.length}}">
        <title>{{max(t.width, t.height)}} mm ({{t.x}},{{t.y}})</title>
      </rect>
    </svg>

    <svg viewBox="-{{m.padding}} -{{m.padding}} {{m.length+2*m.padding}} {{m.width+2*m.padding}}" width="1200" height="700">
      <text x="{{m.padding/2}}" y="{{-m.padding/2}}">
        Gavl (vest)
      </text>

      <rect ng-repeat="t in m.westWall"
            width="{{t.width}}" height="{{t.height}}"
            x="{{t.x}}" y="{{t.y}}" class="{{t.class}}" title="{{m.length}}">
        <title>{{max(t.width, t.height)}} mm ({{t.x}},{{t.y}})</title>
      </rect>
    </svg>

    <svg viewBox="-{{m.padding}} -{{m.padding}} {{m.length+2*m.padding}} {{m.width+2*m.padding}}" width="1200" height="700">
      <text x="{{m.padding/2}}" y="{{-m.padding/2}}">
        Gavl (øst)
      </text>

      <rect ng-repeat="t in m.eastWall"
            width="{{t.width}}" height="{{t.height}}"
            x="{{t.x}}" y="{{t.y}}" class="{{t.class}}" title="{{m.length}}">
        <title>{{max(t.width, t.height)}} mm ({{t.x}},{{t.y}})</title>
      </rect>
    </svg>

    <svg viewBox="-{{m.padding}} -{{m.padding}} {{m.length+2*m.padding}} {{m.width+2*m.padding}}" width="1200" height="700">
      <text x="{{m.padding/2}}" y="{{-m.padding/2}}">
        Væg (syd)
      </text>

      <rect ng-repeat="t in m.southWall"
            width="{{t.width}}" height="{{t.height}}"
            x="{{t.x}}" y="{{t.y}}" class="{{t.class}}" title="{{m.length}}">
        <title>{{max(t.width, t.height)}} mm ({{t.x}},{{t.y}})</title>
      </rect>
    </svg>

    <svg viewBox="-{{m.padding}} -{{m.padding}} {{m.length+2*m.padding}} {{m.width+2*m.padding}}" width="1200" height="700">
      <text x="{{m.padding/2}}" y="{{-m.padding/2}}">
        Væg (nord)
      </text>

      <rect ng-repeat="t in m.northWall"
            width="{{t.width}}" height="{{t.height}}"
            x="{{t.x}}" y="{{t.y}}" class="{{t.class}}" title="{{m.length}}">
        <title>{{max(t.width, t.height)}} mm ({{t.x}},{{t.y}})</title>
      </rect>
    </svg>
  </body>
</html>
