.wood-295 {
  fill: orangered;
  stroke: black;
  opacity: 0.5;
}

.wood-195 {
  fill: darkorange;
  stroke: black;
  opacity: 0.5;
}

.wood-120 {
  fill: orange;
  stroke: black;
  opacity: 0.5;
}

.wood-95 {
  fill: yellow;
  stroke: black;
  opacity: 0.5;
}

.wood-25 {
  fill: skyblue;
  stroke: black;
  opacity: 0.5;
}

.osb {
  fill: seagreen;
  stroke: black;
  opacity: 0.5;
}

.kf {
  fill: darkseagreen;
  stroke: black;
  opacity: 0.5;
}

text {
  fill: black;
  font-size: 100px;
  font-family: monospace;
}

text.normal {
  font-size: 20px;
}